<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}" />

        <div class="card sidebar_custom">
            <div class="card-body">
                <h2 class="card-text">Do you fancy some images? </h2>
                <p class="card-text">Don't hesitate to ask - we will help you! </p>
            </div>
        </div>

        <div class="card sidebar_custom">
            <div class="card-body">
                <h3 class="card-text">Follow us on GitHub </h3>
                <hr>
                <p class="card-text">
                    <a href="https://github.com/AlfaAli" id="coder"> <h6>Alfatih Ali</h6></a> - Senior backend developer
                </p>
                <p class="card-text">
                    <a href="https://github.com/ingrih" id="coder"><h6>Ingri Halland Soldal</h6></a> - Senior backend/frontend developer
                </p>
                <p class="card-text">
                    <a href="https://github.com/korvinos" id="coder"><h6>Artem Moiseev</h6></a> - Project management / tests </p>

            </div>
        </div>

        <div class="card sidebar_custom">
            <div class="card-body">
                <h3 class="card-text" style="text-align: center">Contact us </h3>
                <hr>
                <button class="button" data-toggle="modal" data-target="#exampleModalLong">Send feedback</button>

            </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="text-align: center">
                  <a href="#"> <img src="{% static 'geospass_fun/img/arctic-sea-ice-maximum-3-21-2014.png' %}"> </a>

              </div>
              <div class="modal-footer">
                  <button class="button" data-dismiss="modal">Thank you!</button>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>