<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div>
                <h1><strong>Welcome to our new Django website!</strong></h1>
          </div>  

          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> </ul>
            <div class="form-inline my-2 my-lg-0" style="padding-right: 5px">
              <a href="/admin/"> <button class="btn btn-light my-2 my-lg-0" s >Admin</button> </a>
            </div>
            
          </div>
          
        </nav>
    </body>
</html>